.upper_div{
    height:fit-content;
    display: flex;
    justify-content: right;
}
.link_home{
    margin: 10px 0px 0px 10px;
    padding: 0px;
}
#home > .google_text{
    padding-top: 0;
    display: flex;
    justify-content: left;
}
.google_text > h3{
    color:rgb(20, 90, 255)
}