body{
    background-color: #212124;
}
a:link {
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#textfield{
    border-radius: 30px;
    border-color: #fff;
    border-width: 0.5px; 
    height: 40px; 
    background-color:#212124;
    color: #fff;
}
.submitBut{
    /* margin-top: 20px; */
    margin: 20px 5px 0px 5px;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 5px;
    border-width: 0px;
    padding: 12px;

    font-size: 14px;
}

#link{
    /* background-color: greenyellow; */
    display: flex;
    justify-content: right;
}
#link > div {
    /* margin: 10px; */
    padding-top: 10px;
    padding-right: 30px;
}
.icon{
    position: relative;
    height: 40px;
    width: 40px;
}
.img_description {
    background: black;
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.icon:hover .img_description {
    
    visibility: visible;
    opacity: 1;
}
#form_wrap{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    width:50%;
}
#form_wrap input:nth-child(1){
    width:100%
}
.google_text {
    /* background-color: aqua; */
    /* padding-top: 2rem; */
    display:flex;
    justify-content: center;
    align-items: flex-end;

}
.google_text > h1{
    font-family: 'Product Sans';
    font-size: 5rem;
    color: #fff;
}


#search {
    text-align: center;
    display: block;
    /* background-color: blueviolet; */
}